@import url('https://fonts.googleapis.com/css2?family=Share:ital,wght@0,700;1,700&display=swap');

.panelInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  animation: flip 8s linear forwards infinite;
  animation-direction: normal;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}